body {
  background-color: black;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url('./images/header-img.jpg');
  background-position: center;
  background-size: cover;
}

header h1 {
  margin: 40px;
  color: #669DDA;
  font-family: ravie, sans-serif;
  font-size: 40px;
  text-shadow: 10px 0 5px rgba(0, 0, 0, 0.75);
}

header a {
  text-decoration: none;
  color: #669DDA;
}

header a:hover {
  background-color:#669DDA;
  color: black;
  border-radius: 5px;
  padding: 5px;
  font-style: italic;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

header nav ul li {
  padding: 40px;
  font-size: 30px;
}
