/* Global styling start */
body {
  background-color: black;
}

/* Global styling end */

/* Header and Footer styling start */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url('./images/header-img.jpg');
  background-position: center;
  background-size: cover;
}

header h1 {
  margin: 40px;
  color: #669DDA;
  font-family: ravie, sans-serif;
  font-size: 40px;
  text-shadow: 10px 0 5px rgba(0, 0, 0, 0.75);
}

header a {
  text-decoration: none;
  color: #669DDA;
  font-style: italic;
}

header a:hover {
  background-color:#669DDA;
  color: black;
  border-radius: 5px;
  padding: 5px;
  font-style: italic;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

header nav ul li {
  padding: 40px;
  font-size: 30px;
}

/* Header and Footer Styling End */

/* About styling start */

.about {
  display: flex;
  flex-direction: column;
}

.about-me {
  display: flex;
  justify-content: center;
}

.img {
  max-width: 40%;
  height: auto;
}

.about-body {
  color: #669DDA;
  font-size: 23px;
  padding: 40px 100px;
  font-style: italic;
  text-align: center;
  display: flex;
}